In [62]:
import pandas as pd
import os

In [80]:
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'
path_2020 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/20.04.01~21.01.03/S-DoT_NATURE_2020.04.01-04.30.csv'
path_2021 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/21.01.04~22.01.02'
path_2022 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/22.01.03~23.01.01'
path_2023 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/23.01.02~23.03.26/S-DoT_NATURE_2023.03.20-03.26.csv'

In [64]:
dir_list = os.listdir(path_dir)
dir_2020 = os.listdir(path_2020)
dir_2021 = os.listdir(path_2021)
dir_2022 = os.listdir(path_2022)
dir_2023 = os.listdir(path_2023)

In [65]:
print(dir_list)
print(dir_2020)
print(dir_2021)
print(dir_2022)
print(dir_2023)

['20.04.01~21.01.03', '21.01.04~22.01.02', '22.01.03~23.01.01', '23.01.02~23.03.26']
['S-DoT_NATURE_2020.04.01-04.30.csv', 'S-DoT_NATURE_2020.05.01-05.31.csv', 'S-DoT_NATURE_2020.06.01-06.30.csv', 'S-DoT_NATURE_2020.07.01-07.31.csv', 'S-DoT_NATURE_2020.08.01-08.31.csv', 'S-DoT_NATURE_2020.09.01-09.30.csv', 'S-DoT_NATURE_2020.10.01-10.31.csv', 'S-DoT_NATURE_2020.11.09-11.15.csv', 'S-DoT_NATURE_2020.11.16-11.22.csv', 'S-DoT_NATURE_2020.11.23-11.29.csv', 'S-DoT_NATURE_2020.11.30-12.06.csv', 'S-DoT_NATURE_2020.12.07-12.13.csv', 'S-DoT_NATURE_2020.12.14-12.20.csv', 'S-DoT_NATURE_2020.12.21-12.27.csv', 'S-DoT_NATURE_2020.12.28-01.03.csv']
['S-DoT_NATURE_2021.01.04-01.10.csv', 'S-DoT_NATURE_2021.01.11-01.17.csv', 'S-DoT_NATURE_2021.01.18-01.24.csv', 'S-DoT_NATURE_2021.01.25-01.31.csv', 'S-DoT_NATURE_2021.02.01-02.07.csv', 'S-DoT_NATURE_2021.02.08-02.14.csv', 'S-DoT_NATURE_2021.02.15-02.21.csv', 'S-DoT_NATURE_2021.02.22-02.28.csv', 'S-DoT_NATURE_2021.03.01-03.07.csv', 'S-DoT_NATURE_2021.03.08-03.14.csv', 'S-DoT_NATURE_2021.03.15-03.21.csv', 'S-DoT_NATURE_2021.03.22-03.28.csv', 'S-DoT_NATURE_2021.03.29-04.04.csv', 'S-DoT_NATURE_2021.04.05-04.11.csv', 'S-DoT_NATURE_2021.04.12-04.18.csv', 'S-DoT_NATURE_2021.04.19-04.25.csv', 'S-DoT_NATURE_2021.04.26-05.02.csv', 'S-DoT_NATURE_2021.05.03-05.09.csv', 'S-DoT_NATURE_2021.05.10-05.16.csv', 'S-DoT_NATURE_2021.05.17-05.23.csv', 'S-DoT_NATURE_2021.05.24-05.30.csv', 'S-DoT_NATURE_2021.05.31-06.06.csv', 'S-DoT_NATURE_2021.06.07-06.13.csv', 'S-DoT_NATURE_2021.06.14-06.20.csv', 'S-DoT_NATURE_2021.06.21-06.27.csv', 'S-DoT_NATURE_2021.06.28-07.04.csv', 'S-DoT_NATURE_2021.07.05-07.11.csv', 'S-DoT_NATURE_2021.07.12-07.18.csv', 'S-DoT_NATURE_2021.07.19-07.25.csv', 'S-DoT_NATURE_2021.07.26-08.01.csv', 'S-DoT_NATURE_2021.08.02-08.08.csv', 'S-DoT_NATURE_2021.08.09-08.15.csv', 'S-DoT_NATURE_2021.08.16-08.22.csv', 'S-DoT_NATURE_2021.08.23-08.29.csv', 'S-DoT_NATURE_2021.08.30-09.05.csv', 'S-DoT_NATURE_2021.09.06-09.12.csv', 'S-DoT_NATURE_2021.09.13-09.19.csv', 'S-DoT_NATURE_2021.09.20-09.26.csv', 'S-DoT_NATURE_2021.09.27-10.03.csv', 'S-DoT_NATURE_2021.09.30-10.05.csv', 'S-DoT_NATURE_2021.10.04-10.10.csv', 'S-DoT_NATURE_2021.10.11-10.17.csv', 'S-DoT_NATURE_2021.10.18-10.24.csv', 'S-DoT_NATURE_2021.10.25-10.31.csv', 'S-DoT_NATURE_2021.11.01-11.07.csv', 'S-DoT_NATURE_2021.11.08-11.14.csv', 'S-DoT_NATURE_2021.11.15-11.21.csv', 'S-DoT_NATURE_2021.11.16-11.22.csv', 'S-DoT_NATURE_2021.11.22-11.28.csv', 'S-DoT_NATURE_2021.11.29-12.05.csv', 'S-DoT_NATURE_2021.12.06-12.12.csv', 'S-DoT_NATURE_2021.12.13-12.19.csv', 'S-DoT_NATURE_2021.12.20-12.26.csv', 'S-DoT_NATURE_2021.12.27-01.02.csv']
['S-DoT_NATURE_2022.01.03-01.09.csv', 'S-DoT_NATURE_2022.01.10-01.16.csv', 'S-DoT_NATURE_2022.01.17-01.23.csv', 'S-DoT_NATURE_2022.01.24-01.30.csv', 'S-DoT_NATURE_2022.01.31-02.06.csv', 'S-DoT_NATURE_2022.02.07-02.13.csv', 'S-DoT_NATURE_2022.02.14-02.20.csv', 'S-DoT_NATURE_2022.02.21-02.27.csv', 'S-DoT_NATURE_2022.02.28-03.06.csv', 'S-DoT_NATURE_2022.03.07-03.13.csv', 'S-DoT_NATURE_2022.03.14-03.20.csv', 'S-DoT_NATURE_2022.03.21-03.27.csv', 'S-DoT_NATURE_2022.03.28-04.03.csv', 'S-DoT_NATURE_2022.04.04-04.10.csv', 'S-DoT_NATURE_2022.04.11-04.17.csv', 'S-DoT_NATURE_2022.04.18-04.24.csv', 'S-DoT_NATURE_2022.04.25-05.01.csv', 'S-DoT_NATURE_2022.05.02-05.08.csv', 'S-DoT_NATURE_2022.05.09-05.15.csv', 'S-DoT_NATURE_2022.05.16-05.22.csv', 'S-DoT_NATURE_2022.05.23-05.29.csv', 'S-DoT_NATURE_2022.05.30-06.05.csv', 'S-DoT_NATURE_2022.06.06-06.12.csv', 'S-DoT_NATURE_2022.06.13-06.19.csv', 'S-DoT_NATURE_2022.06.20-06.26.csv', 'S-DoT_NATURE_2022.06.27-07.03.csv', 'S-DoT_NATURE_2022.07.04-07.10.csv', 'S-DoT_NATURE_2022.07.11-07.17.csv', 'S-DoT_NATURE_2022.07.18-07.24.csv', 'S-DoT_NATURE_2022.07.25-07.31.csv', 'S-DoT_NATURE_2022.08.01-08.07.csv', 'S-DoT_NATURE_2022.08.08-08.14.csv', 'S-DoT_NATURE_2022.08.15-08.21.csv', 'S-DoT_NATURE_2022.08.22-08.28.csv', 'S-DoT_NATURE_2022.08.29-09.04.csv', 'S-DoT_NATURE_2022.09.05-09.11.csv', 'S-DoT_NATURE_2022.09.12-09.18.csv', 'S-DoT_NATURE_2022.09.19-09.25.csv', 'S-DoT_NATURE_2022.09.26-10.02.csv', 'S-DoT_NATURE_2022.10.03-10.09.csv', 'S-DoT_NATURE_2022.10.10-10.16.csv', 'S-DoT_NATURE_2022.10.17-10.23.csv', 'S-DoT_NATURE_2022.10.24-10.30.csv', 'S-DoT_NATURE_2022.10.31-11.06.csv', 'S-DoT_NATURE_2022.11.07-11.13.csv', 'S-DoT_NATURE_2022.11.14-11.20.csv', 'S-DoT_NATURE_2022.11.21-11.27.csv', 'S-DoT_NATURE_2022.11.28-12.04.csv', 'S-DoT_NATURE_2022.12.12-12.18.csv', 'S-DoT_NATURE_2022.12.19-12.25.csv', 'S-DoT_NATURE_2022.12.26-01.01.csv']
['S-DoT_NATURE_2023.01.02-01.08.csv', 'S-DoT_NATURE_2023.01.09-01.15.csv', 'S-DoT_NATURE_2023.01.16-01.22.csv', 'S-DoT_NATURE_2023.01.23-01.29.csv', 'S-DoT_NATURE_2023.01.30-02.05.csv', 'S-DoT_NATURE_2023.02.06-02.12.csv', 'S-DoT_NATURE_2023.02.13-02.19.csv', 'S-DoT_NATURE_2023.02.20-02.26.csv', 'S-DoT_NATURE_2023.02.27-03.05.csv', 'S-DoT_NATURE_2023.03.06-03.12.csv', 'S-DoT_NATURE_2023.03.13-03.19.csv', 'S-DoT_NATURE_2023.03.20-03.26.csv']

In [81]:
def extract_col_1(file_path):
    """
    경로의 n번째 파일을 Task_1 에 맞게 컬럼추출
    """
    import pandas as pd
    
    data = pd.read_csv(f'{file_path}', encoding = 'cp949')
    
    column_name = list(data.columns)
    new_column_index = [i for i in range(len(column_name)) if '먼지' in column_name[i]]
    new_column_index.append(-1)
    
    if data[data.columns[-1]].notnull().sum() == 0:
        data.reset_index(inplace = True)
        data = data.iloc[:, :-2]
        data.columns = column_name
    
    data = data.iloc[:, new_column_index]
    
    return data

In [82]:
df1 = extract_col_1(path_2020)
df2 = extract_col_1(path_2023)

In [89]:
df1.head(10)

   초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  초미세먼지 보정(㎍/㎥)  미세먼지 보정(㎍/㎥)            등록일자
0          15         26           24.0          53.0   2020.4.1 1:00
1          21         37           37.0          74.0  2020.4.1 12:00
2          18         39           29.0          79.0  2020.4.1 18:00
3           2          3            4.0           6.0   2020.4.2 0:00
4           3          5            6.0          10.0   2020.4.2 6:00
5           8         16           16.0          32.0  2020.4.2 12:00
6           6         13           12.0          25.0  2020.4.2 15:00
7           9         15           18.0          30.0  2020.4.2 23:00
8          12         18           24.0          37.0   2020.4.3 4:00
9          15         25           30.0          49.0  2020.4.3 12:00

In [85]:
df2.head(4)

,초미세먼지 최대(㎍/㎥),초미세먼지 평균(㎍/㎥),초미세먼지 최소(㎍/㎥),미세먼지 최대(㎍/㎥),미세먼지 평균(㎍/㎥),미세먼지 최소(㎍/㎥),등록일시
0,105,60.0,54,158,91.0,80,2023-03-20 12:07:25
1,47,40.0,34,48,41.0,34,2023-03-20 12:07:25
2,112,101.,82,117,105.,85,2023-03-20 12:07:25
3,50,46.0,41,73,67.0,59,2023-03-20 12:07:25

In [ ]:
# 경로 안에 있는 모든 DF 병합
# 
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'

def merge_df_1(path):
    import os

    dir_list = os.listdir(path)
    for dir in dir_list:
        dir_path = f'{path}/{dir}'
        file_list = os.listdir(dir_path)
        for file in file_list:
            extract_col_1(file)
            if