In [1]:
import pandas as pd
import os

In [2]:
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'
path_2020 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/20.04.01~21.01.03/S-DoT_NATURE_2020.04.01-04.30.csv'
path_2021 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/21.01.04~22.01.02'
path_2022 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/22.01.03~23.01.01'
path_2023 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/23.01.02~23.03.26/S-DoT_NATURE_2023.03.20-03.26.csv'

In [3]:
def extract_col_1(file_path):
    """
    경로의 파일을 Task_1 에 맞게 컬럼추출
    """
    import pandas as pd
    
    data = pd.read_csv(f'{file_path}', encoding = 'cp949')
    
    column_name = list(data.columns)
    new_column_index = [i for i in range(len(column_name)) if '먼지' in column_name[i]]
    new_column_index.append(-1)
    
    if data[data.columns[-1]].notnull().sum() == 0:
        data.reset_index(inplace = True)
        data = data.iloc[:, :-2]
        data.columns = column_name
    
    data = data.iloc[:, new_column_index]
    
    return data

In [4]:
df1 = extract_col_1(path_2020)
df2 = extract_col_1(path_2023)

In [5]:
df1.head(10)

   초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  초미세먼지 보정(㎍/㎥)  미세먼지 보정(㎍/㎥)            등록일자
0          15         26           24.0          53.0   2020.4.1 1:00
1          21         37           37.0          74.0  2020.4.1 12:00
2          18         39           29.0          79.0  2020.4.1 18:00
3           2          3            4.0           6.0   2020.4.2 0:00
4           3          5            6.0          10.0   2020.4.2 6:00
5           8         16           16.0          32.0  2020.4.2 12:00
6           6         13           12.0          25.0  2020.4.2 15:00
7           9         15           18.0          30.0  2020.4.2 23:00
8          12         18           24.0          37.0   2020.4.3 4:00
9          15         25           30.0          49.0  2020.4.3 12:00

In [4]:
df2.head(4)

,초미세먼지 최대(㎍/㎥),초미세먼지 평균(㎍/㎥),초미세먼지 최소(㎍/㎥),미세먼지 최대(㎍/㎥),미세먼지 평균(㎍/㎥),미세먼지 최소(㎍/㎥),등록일시
0,105,60.0,54,158,91.0,80,2023-03-20 12:07:25
1,47,40.0,34,48,41.0,34,2023-03-20 12:07:25
2,112,101.,82,117,105.,85,2023-03-20 12:07:25
3,50,46.0,41,73,67.0,59,2023-03-20 12:07:25

In [6]:
def drop_na(df):
    """
    결측치 처리
     : 단순 삭제
    """
    return df.dropna()

In [8]:
def merge_df_1(path):
    """
    경로 안의 모든 데이터 병합
    (2가지 형태의 DF)
    """
    import os
    import pandas as pd

    df_list1 = []
    df_list2 = []

    dir_list = os.listdir(path)
    for dir in dir_list:
        dir_path = f'{path}/{dir}'
        file_list = os.listdir(dir_path)
        for file in file_list:
            file_path = f'{path}/{dir}/{file}'
            df = extract_col_1(file_path)
            if len(df.columns) == 5:
                df_list1.append(df)
            else:
                df_list2.append(df)

    column_name_ref1 = list(df_list1[0].columns)
    column_name_ref2 = list(df_list2[0].columns)

    for df in df_list1:
        df.columns = column_name_ref1

    for df in df_list2:
        df.columns = column_name_ref2

    df_merged1 = pd.concat(df_list1, ignore_index = True)
    df_merged2 = pd.concat(df_list2, ignore_index = True)

    return df_merged1, df_merged2

In [9]:
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'

df1, df2 = merge_df_1(path_dir)

C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
C:\Users\wldnr\AppData\Local\Temp\ipykernel_30456\344496822.py:7: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')

In [10]:
df1.head(5)

  초미세먼지(㎍/㎥) 미세먼지(㎍/㎥) 초미세먼지 보정(㎍/㎥) 미세먼지 보정(㎍/㎥)            등록일자
0         15        26          24.0         53.0   2020.4.1 1:00
1         21        37          37.0         74.0  2020.4.1 12:00
2         18        39          29.0         79.0  2020.4.1 18:00
3          2         3           4.0          6.0   2020.4.2 0:00
4          3         5           6.0         10.0   2020.4.2 6:00

In [11]:
df2.head(5)

,초미세먼지 최대(㎍/㎥),초미세먼지 평균(㎍/㎥),초미세먼지 최소(㎍/㎥),미세먼지 최대(㎍/㎥),미세먼지 평균(㎍/㎥),미세먼지 최소(㎍/㎥),등록일시
0,4,4.0,4,4,4.0,4,2023-01-02 00:07:24
1,4,4.0,3,5,5.0,4,2023-01-02 00:07:24
2,10,9.0,9,15,12.0,11,2023-01-02 00:07:24
3,60,10.0,4,60,10.0,4,2023-01-02 00:07:24
4,9,9.0,8,12,11.0,10,2023-01-02 00:07:24

In [12]:
print('df1_shape :', df1.shape)
print('df2_shape :', df2.shape)

df1_shape : (22221648, 5)
df2_shape : (1483948, 7)

In [13]:
df1 = drop_na(df1)
df2 = drop_na(df2)

In [14]:
print('df1_dropna_shape :', df1.shape)
print('df2_dropna_shape :', df2.shape)

df1_dropna_shape : (22165805, 5)
df2_dropna_shape : (1468610, 7)

In [15]:
def load_as_csv(df, path, filename):
    """
    데이터를 .csv 파일로 저장
    """
    import os

    filepath = f'{path}/{filename}.csv'

    if not os.path.isfile(filepath):
        df.to_csv(filepath)

In [16]:
csv_load_path = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_csv'

load_as_csv(df1, csv_load_path, '20.04.01~23.01.01')
load_as_csv(df2, csv_load_path, '23.01.02~')

In [18]:
def load_to_gzip(data, path, filename):
    """
    데이터프레임(.csv)을 gzip 모듈 사용하여 압축 저장
    압축레벨 조절 가능 compresslevel(default = 5)
    """
    import os
    import gzip

    filepath = f'{path}/{filename}.gz'

    if not os.path.isfile(filepath):
        with gzip.open(filepath, 'wt') as f:
            data.to_csv(f)

In [20]:
gzip_load_path = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_gzip'

csv_file = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_csv/20.04.01~23.01.01.csv'
gz_file = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_gzip/20.04.01~23.01.01.gz'

load_to_gzip(df1, gzip_load_path, '20.04.01~23.01.01')
load_to_gzip(df2, gzip_load_path, '23.01.02~')

def convert_size(size_bytes):
    import math
    if size_bytes == 0:
        return "0B"
    size_name = ("B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    s = round(size_bytes / p, 2)
    return "%s %s" % (s, size_name[i])

csv_size = os.path.getsize(csv_file)
gz_size = os.path.getsize(gz_file)

print(f'File size :', convert_size(gz_size))
print(f'압축률 : {100 - (gz_size/csv_size * 100):.2f} %')

File size : 118.11 MB
압축률 : 86.88 %

In [ ]:
# 모듈화된 함수 호출 테스트